@using Alithea3.Models
@using Attribute = Alithea3.Models.Attribute
@model Alithea3.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var listProductCategories = ViewBag.listProductCategories as List<ProductCategory>;
    var productAttribute = ViewBag.productAttribute as List<Attribute>;
    var Size = ViewBag.Size as List<Size>;
}

<div class="detail11">
    <div class="container">
    </div>
    <section class="section detail-product" style="height: 1000px;">
        <div class="container w-7">
            <div class="row">
                <div class="nav-detail col-sm-12 wow bounceInLeft" data-wow-delay="0.1s">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                @Html.DisplayFor(model => model.ProductName)
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="bock-img-sp col-sm-6">
                    <div class="with-100">
                        <div class="top-thumbnail box wow bounceInLeft" data-wow-delay="0.2s" style="height: auto;">
                            @* <img src="~/Content/public/images/trai.jpg" class="nut-trai" alt=""> *@
                            <img id="img-main" src="@Html.DisplayFor(model => model.ProductImage)" class="anh-thumbnail" alt="">
                            @* <img src="~/Content/public/images/phai.jpg" class="nut-phai" alt=""> *@
                        </div>
                        <div class="bot-thumbnail wow bounceInRight" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img onclick="imgClick('@Html.DisplayFor(model => model.ProductImage)', '@Html.DisplayFor(model => model.UnitPrice)', '@Html.DisplayFor(model => model.Quantity)')" src="@Html.DisplayFor(model => model.ProductImage)" class="anh-thumbnail box" style="height: 170px;" alt="">
                                </div>
                                @if (productAttribute != null)
                                {
                                    for (int i = 0; i < productAttribute.Count; i++)
                                    {
                                        <div class="col-sm-4">
                                            <img onclick="imgClick('@productAttribute[i].ProductImage', '@string.Format("{0:C}", productAttribute[i].UnitPrice)', '@productAttribute[i].Quantity')" src="@productAttribute[i].ProductImage" class="anh-thumbnail box" style="height: 170px;" alt="">
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pull-right gt_sanpham">
                    <p class="tieude wow bounceInRight" data-wow-delay="0.2s">
                        @Html.DisplayFor(model => model.ProductName)
                    </p>
                    <div class="price wow bounceInRight" data-wow-delay="0.3s">
                        <div class="row">
                            <p class="col-sm-12">
                                <strong>Đơn giá:</strong>
                                <span id="pro-price">@Html.DisplayFor(model => model.UnitPrice)</span>
                            </p>
                        </div>
                    </div>
                    <div class="price wow bounceInRight" data-wow-delay="0.3s">
                        <div class="row">
                            <p class="col-sm-12">
                                <strong>Danh mục:</strong>
                                @if (listProductCategories != null)
                                {
                                    for (int i = 0; i < listProductCategories.Count; i++)
                                    {
                                        <a href="/Home/Filter/@listProductCategories[i].CategoryID" style="color: white" class="badge badge-info">@listProductCategories[i].Category.CategoryName</a>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row m-top-30 wow bounceInRight" data-wow-delay="0.5s">
                        <div class="col-sm-12 col-sm-offset-4">
                            <div class="row">
                                <p class="col-sm-3"><strong>Số lượng:</strong> </p>
                                <div class="input-group col-sm-5 mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="number" id="qty_input" class="form-control form-control-sm" value="1"
                                           min="1">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <small id="pro-quantity">
                                    @Html.DisplayFor(model => model.Quantity) sản phẩm có sẵn
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row m-top-30 wow bounceInRight" data-wow-delay="0.6s">
                        <div class="col-sm-12 col-sm-offset-4">
                            <div class="row">
                                <p class="col-sm-3"><strong>Màu:</strong></p>
                                <div class="input-group col-sm-8 mb-3">
                                    <div class="custom-radios">
                                        <div>
                                            <input onclick="imgClick('@Html.DisplayFor(model => model.ProductImage)', '@Html.DisplayFor(model => model.UnitPrice)', '@Html.DisplayFor(model => model.Quantity)')" type="radio" id="color-0" name="color_pro" value="0">
                                            <label for="color-0">
                                                <span></span>
                                            </label>
                                            <input id="nameColor-0" type="hidden" value="Mặc định" />
                                        </div>
                                        @if (productAttribute != null)
                                        {
                                            for (int i = 0; i < productAttribute.Count; i++)
                                            {
                                                if (productAttribute[i].ColorID == 1)
                                                {
                                                    <div>
                                                        <input onclick="imgClick('@productAttribute[i].ProductImage', '@string.Format("{0:C}", productAttribute[i].UnitPrice)', '@productAttribute[i].Quantity')" type="radio" id="color-4" name="color_pro" value="@productAttribute[i].ColorID">
                                                        <label for="color-4">
                                                            <span></span>
                                                        </label>
                                                        <input id="nameColor-@productAttribute[i].ColorID" type="hidden" value="@productAttribute[i].Color.NameColor" />
                                                    </div>

                                                }
                                                else if (productAttribute[i].ColorID == 2)
                                                {
                                                    <div>
                                                        <input onclick="imgClick('@productAttribute[i].ProductImage', '@string.Format("{0:C}", productAttribute[i].UnitPrice)', '@productAttribute[i].Quantity')" type="radio" id="color-2" name="color_pro" value="@productAttribute[i].ColorID">
                                                        <label for="color-2">
                                                            <span></span>
                                                        </label>
                                                        <input id="nameColor-@productAttribute[i].ColorID" type="hidden" value="@productAttribute[i].Color.NameColor" />
                                                    </div>

                                                }
                                                else if (productAttribute[i].ColorID == 3)
                                                {
                                                    <div>
                                                        <input onclick="imgClick('@productAttribute[i].ProductImage', '@string.Format("{0:C}", productAttribute[i].UnitPrice)', '@productAttribute[i].Quantity')" type="radio" id="color-1" name="color_pro" value="@productAttribute[i].ColorID">
                                                        <label for="color-1">
                                                            <span></span>
                                                        </label>
                                                        <input id="nameColor-@productAttribute[i].ColorID" type="hidden" value="@productAttribute[i].Color.NameColor" />
                                                    </div>

                                                }
                                                else if (productAttribute[i].ColorID == 4)
                                                {
                                                    <div>
                                                        <input onclick="imgClick('@productAttribute[i].ProductImage', '@string.Format("{0:C}", productAttribute[i].UnitPrice)', '@productAttribute[i].Quantity')" type="radio" id="color-3" name="color_pro" value="@productAttribute[i].ColorID">
                                                        <label for="color-3">
                                                            <span></span>
                                                        </label>
                                                        <input id="nameColor-@productAttribute[i].ColorID" type="hidden" value="@productAttribute[i].Color.NameColor" />
                                                    </div>

                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-top-30 wow bounceInRight" data-wow-delay="0.8s">
                        <div class="col-sm-12 col-sm-offset-4">
                            <div class="row">
                                <p class="col-sm-12 j-center">
                                    <strong>Size: </strong>
                                    <select id="pro_size" class="form-control">
                                        @if (Size != null)
                                        {
                                            for (int i = 0; i < Size.Count; i++)
                                            {
                                                <option value="@Size[i].SizeID">@Size[i].NameSize</option>
                                            }
                                        }
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row m-top-30 wow bounceInRight" data-wow-delay="0.8s">
                        <div class="col-sm-12 col-sm-offset-4">
                            <div class="row">
                                <p class="col-sm-12 j-center">
                                    <strong>Mô tả:</strong>
                                    @Html.DisplayFor(model => model.ProductDescription)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row m-top-30">
                        <div class="col-sm-12 col-sm-offset-4">
                            <div class="input-group col-sm-8 mb-3">
                                <div class="row">
                                    <input type="hidden" value="@Html.DisplayFor(model => model.ProductID)" id="pro_id" />
                                    <button class="btn btn-danger add-to-cart wow bounceInRight" data-wow-delay="0.2s" id="addItem">
                                        <i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts
{
    <script>
//        var formatter = new Intl.NumberFormat('en-US', {
//            style: 'currency',
//            currency: 'VND',
//        });
//        function formatNumber(num) {
//            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
//        }
      
        function imgClick(img, price, quantity) {
            $("#img-main").attr("src", img);
            $('#pro-quantity').html(quantity + ' sản phẩm có sẵn');
            $('#pro-price').html(price);
            console.log("anh " + img);
            console.log("price " + price);
            console.log("quantity " + quantity);
        }
    </script>
}
