@model IEnumerable<Alithea3.Models.Category>

@{
    ViewBag.Title = "ListCategory";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var totalPage = ((int?) ViewBag.TotalPage).Value;
    var currentPage = ((int?) ViewBag.CurrentPage).Value;
    var limit = ((int?) ViewBag.Limit).Value;
}

<div class="detail12">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="margin-left: 5%">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 m-b-30 wow bounceIn" data-wow-delay="1ms">
                                    <a href="/Home/Filter?id=@item.CategoryID">
                                        <div class="card col-sm-12 box a-product" style="width: 18rem;">
                                            <div class="card-img">
                                                <img src="@item.CategoryImage" class="card-img-top" style="height: 290px;" alt="...">
                                            </div>
                                            <div class="row">
                                                <div class="card-body">
                                                    <p class="card-title text-center">
                                                        @item.CategoryName
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                        @if (totalPage > 0)
                        {
                            <nav aria-label="...">
                                <ul class="pagination">
                                    @if (currentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?page=@(currentPage-1)&limit=@(limit)"><span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    }
                                    @if (currentPage > 2)
                                    {
                                        <li class="page-item"><a class="page-link" href="?page=@(currentPage-2)&limit=@(limit)">@(currentPage - 2)</a></li>
                                    }
                                    @if (currentPage > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="?page=@(currentPage-1)&limit=@(limit)">@(currentPage - 1)</a></li>
                                    }
                                    <li class="page-item active">
                                        <a class="page-link" href="?page=@(currentPage)&limit=@(limit)">@currentPage<span class="sr-only">(current)</span></a>
                                    </li>
                                    @if (totalPage - currentPage > 0)
                                    {
                                        <li class="page-item"><a class="page-link" href="?page=@(currentPage+1)&limit=@(limit)">@(currentPage + 1)</a></li>
                                    }
                                    @if (totalPage - currentPage > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="?page=@(currentPage+2)&limit=@(limit)">@(currentPage + 2)</a></li>
                                    }
                                    @if (totalPage - currentPage > 0)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?page=@(currentPage+2)&limit=@(limit)"><span aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

