@model Alithea3.Models.Product
@using Alithea3.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Dictionary<String, String> errors = new Dictionary<string, string>();
    if (ViewBag.Errors != null)
    {
        errors = ViewBag.Errors as Dictionary<string, string>;
    }
    List<Category> listCategories = new List<Category>();
    if (ViewBag.listCategories != null)
    {
        listCategories = ViewBag.listCategories as List<Category>;
    }

    List<Color> listColors = ViewBag.Colos as List<Color>;
}

<div class="row">
    <div class="col-md-8 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                @if (TempData["Error"] != null)
                {
                    <h4 class="text-danger text-center">@TempData["Error"]</h4>
                }

                <h4 class="card-title text-center text-primary">Tạo sản phẩm mới</h4>
                @using (Html.BeginForm("Create", "Products", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.RoleNumber)
                        @Html.EditorFor(model => model.RoleNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoleNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName)
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, errors.ContainsKey("ProductName") ? errors["ProductName"] : "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductDescription)
                        @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductDescription, errors.ContainsKey("ProductDescription") ? errors["ProductDescription"] : "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Danh mục</label>
                        <select class="form-control" id="sort">
                            <option value="-1">Danh mục</option>
                            @foreach (var item in listCategories)
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group" style="margin-top: 20px; margin-bottom: 50px;">
                        <span class="control-label">Danh mục đã chọn: </span>
                        <div class="col-md-10" id="listCat">
                            @if (errors.ContainsKey("Category"))
                            {
                                <p class="text-danger">@errors["Category"]</p>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnitPrice)
                        @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="width: 50%">
                        @Html.LabelFor(model => model.VAT)
                        <span>%</span>
                        @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity)
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductImage)
                        <br />
                        <img id="preview-0" src="#" class="hidden img-thumbnail" style="width: 100px" alt="Alternate Text" />
                        @Html.EditorFor(model => model.ProductImage, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @id = "valueImg-0" } })
                        @Html.ValidationMessageFor(model => model.ProductImage, errors.ContainsKey("ProductImage") ? errors["ProductImage"] : "", new { @class = "text-danger" })
                        <div style="margin-top: 5px">
                            <button type="button" id="upload_widget" class="btn btn-primary" onclick="uploadImage(0)">Upload files</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Màu</label>
                        <select class="form-control" id="sortColor">
                            <option value="-1">Mặc định</option>
                            @if (listColors != null)
                            {
                                foreach (var item in listColors)
                                {
                                    <option value="@item.ColorID">@item.NameColor</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group" id="attribute" style="margin-bottom: 50px;"></div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" class="btn btn-gradient-primary mr-2" value="Tạo danh mục mới" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function delCate(item) {
            var idDiv = "#item-" + item;
            $(idDiv).remove();
        }

        function colorPro(item) {
            var idDiv = "#color-item-" + item;
            $(idDiv).remove();
        }

        $(document).ready(function () {
            $("#sort").change(function () {
                console.log($(this).val() + " - " + $("#sort option:selected").text());
                console.log($("#listCat").text().includes($("#sort option:selected").text()));
                console.log($("#sort option:selected").text());
                console.log($(this).val());
                console.log($(this).val() > 0);
                if ($(this).val() > 0) {
                    var text = '<div class="badge badge-info" id="item-' + $(this).val() + '"><input type="hidden" name="ints" value="' + $(this).val() + '" />' + $("#sort option:selected").text() + '<i class="mdi mdi-backspace" onclick="delCate(' + $(this).val() + ')" style="margin-left: 10px;"></i></div>';
                    $("#listCat").append(text);
                }
            });

            $('#sortColor').change(function () {
                if ($(this).val() > 0) {
                    var unitpice = $('input[name="UnitPrice"]').val();
                    var quanitty = $('input[name="Quantity"]').val();
                    if (unitpice === '') {
                        unitpice = 0;
                    }
                    if (quanitty === '') {
                        quanitty = 0;
                    }

                    var text = '<div class="form-group" id="color-item-' + $(this).val() + '">' +
                        '<input type="hidden" value="' + $(this).val() + '" name="idColor">' +
                        '<p>' + $("#sortColor option:selected").text() + '<i class="mdi mdi-backspace" onclick="colorPro(' + $(this).val() + ')" style="margin-left: 10px;"></i></p>' +

                        '<label>Ảnh</label><br/>' +
                        '<img src="#" id="preview-' + $(this).val() + '" class="hidden img-thumbnail imageProduct" style="width: 100px" alt="Alternate Text" />' +
                        '<input type="hidden" name="imageColor" value="default" id="valueImg-' + $(this).val() + '"/>' +
                        '<div style="margin-top: 5px">' +
                            '<button type="button" class="btn btn-primary" onclick="uploadImage(' + $(this).val() + ')">Upload files</button>' +
                        '</div>' +

                        '<label style="margin-top: 20px;">Giá</label>' +
                        '<input class="form-control" name="priceColor" type="number" value="' + unitpice + '">' +

                        '<label style="margin-top: 20px;">Số lượng</label>' +
                        '<input class="form-control" name="quanityColor" type="number" value="' + quanitty + '">' +

                        '</div>';

                    $('#attribute').append(text);
                }
            });
        });
    </script>
    <script type="text/javascript">
        var imgPreID = "#preview-0";
        var valueImgId = "#valueImg-0";

        function uploadImage(item) {
            imgPreID = "#preview-" + item;
            valueImgId = "#valueImg-" + item;
            console.log("item: " + item);
            myWidget.open();
        }

        var myWidget = cloudinary.createUploadWidget({
                cloudName: 'bangnguyen',
                uploadPreset: 'Alithea'
            },
            (error, result) => {
                if (!error && result && result.event === "success") {
                    var imgLink = result.info.secure_url;

                    $(valueImgId).val(imgLink);

                    var imgPre = $(imgPreID);
                    imgPre.attr("src", imgLink);
                    imgPre.removeClass("hidden");
                }
            }
        );

    </script>
}
