@model IEnumerable<Alithea3.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int indexSo = 1;
}

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body table-responsive">
                    <h4 class="card-title">Danh mục</h4>
                    <p class="card-description d-sm-flex">
                        <br class="d-sm-none" />

                        <a class="btn btn-sm btn-primary ml-auto mr-2 mt-2 mt-sm-0" href="@Url.Action("Create", "Roles")">
                            Tạo mới <span class="mdi mdi-plus-circle"></span>
                        </a>
                    </p>
                    <table class="table" id="update-student">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoleName)
                                </th>
                                <th class="text-center d-none d-lg-table-cell">
                                    Sửa
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        <b class="text-small">@indexSo</b>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Roles", new {id = item.RoleId})" class="badge w-100 badge-gradient-primary w-100">
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </a>
                                    </td>
                                   
                                    <td class="text-center d-none d-lg-table-cell">
                                        <a class="badge badge-warning" href="@Url.Action("Edit", "Roles", new {id = item.RoleId})">
                                            <span class="mdi mdi-pencil-box-outline"></span>
                                        </a>
                                    </td>
                                </tr>

                                {
                                    indexSo++;
                                }

                            }
                        </tbody>
                    </table>
        
                </div>
            </div>
        </div>

    </div>
