@using Alithea3.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var listProducts = Session[SessionName.ShoppingCart] as List<Product>;
    var listColor = ViewBag.Colors as List<Color>;
    var listSize = ViewBag.Sizes as List<Size>;
}

<div class="detail8">
    <div class="m-t-150" style="width: 1250px; height: auto; margin-left: auto; margin-right: auto;">
        @if (TempData["Error"] != null)
        {
            <h2 class="text-center title-block wow bounceIn text-danger" data-wow-delay="0.1s" data-wow-offset="50">
                @TempData["Error"]
            </h2>
        }
        <div class="row mb-3">
            <div class="col-sm-12 m-t-50 dsxacnhanorder">
                <div class="dsxacnhanorder-list float-left divfirst">
                    <a href="/BuyItem/Index">1.Sản phẩm đã chọn</a>
                </div>
                <!-- <div class="muitenxn muiten1 float-left"></div> -->
                <div class="dsxacnhanorder-list float-left">
                    <a href="/BuyItem/ThongTinKhacHang">2.Thông tin giao hàng</a>
                </div>
                <!-- <div class="right-triangle muiten2 float-left"></div> -->
                <div class="dsxacnhanorder-list float-left">
                    <a href="/BuyItem/XacNhanDonHang">3.Xác nhận đơn hàng</a>
                </div>
                <div class="phuorder divlast"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @if (listProducts != null && listProducts.Count > 0)
                {
                    <table class="table table-hover box">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Màu</th>
                                <th scope="col">Size</th>
                                <th scope="col">VAT</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < listProducts.Count; i++)
                            {
                            <tr id="ShoppingCart-item-@i">
                                <td>
                                    <a href="/Home/Details/@listProducts[i].ProductID">@listProducts[i].ProductName</a>
                                </td>
                                <td>
                                    <a href="#">
                                        <img src="@listProducts[i].ProductImage" width="100px">
                                    </a>
                                </td>
                                <td>
                                    <div class="input-group col-sm-5">
                                        <div class="input-group-prepend float-left" onclick="updateItem(@i, -1)">
                                            <div class="btn btn-light btn-sm" style="width: 35px;"><a><i class="fa fa-minus"></i></a></div>
                                        </div>
                                        <div class="input-group-prepend float-left">
                                            <input style="width: 35px;" onchange="changeQuantityItem(@i)" name="quantityItemOrder" id="idItem-@i" class="form-control form-control-sm float-left" value="@listProducts[i].Quantity">
                                        </div>
                                        <div class="input-group-prepend float-left" onclick="updateItem(@i, 1)">
                                            <div class="btn btn-light btn-sm" style="width: 35px;"><a><i class="fa fa-plus"></i></a></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @string.Format("{0:C}", @listProducts[i].UnitPrice)
                                </td>
                                <td>
                                    <strong>@listProducts[i].NameColor</strong>
                                </td>
                                <td>
                                    @listProducts[i].NameSize
                                </td>
                                <td>
                                    @listProducts[i].VAT %
                                </td>
                                <td id="thanhtien-item-@i">
                                    @string.Format("{0:C}", listProducts[i].totalPriceOne)
                                </td>
                                <td>
                                    <a class="delete-user" data-id="@i" onclick="DeleteItem('@i')">
                                        <i class="fa fa-trash-alt list-users" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <p class="sangbenphai" style="color: white">
                        <a href="/buyItem/ThongTinKhacHang" class="btn btn-success btn-block t-30 nut-checkout" name="dathang">Đặt hàng</a>
                    </p>
                    <p class="sangbenphai">
                        <a href="#" class="btn btn-danger btn-block p-30 nut-checkout">Tổng tiền: <span id="total_price">@($"{Session[SessionName.TotalPrice]:C}")</span></a>
                    </p>
                }
                else
                {
                    <button type="button" name="" id="" class="btn btn-danger m-t-150"><a href="/Home">Bạn chưa mua sản phẩm nào</a></button>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
        }

        function updateItem(idItem, quantityUpdate, change) {
            console.log("id item: " + idItem);
            console.log("quantity Update: " + quantityUpdate);
            console.log("change: " + change);
            var quantityItem = "#idItem-" + idItem;

            var submit = true;

            var quantity = $(quantityItem).val();

            if (quantity === '1' && quantityUpdate < 0) {
                submit = false;
            }

            if (change === 'change') {
                $(quantityItem).val(quantityUpdate);
                if (quantity < 1) {
                    $(quantityItem).val(1);
                }else if (quantity > 10) {
                    $(quantityItem).val(10);
                }
            }else if (quantityUpdate < 0) {
                $(quantityItem).val(--quantity);

                if (quantity < 1) {
                    $(quantityItem).val(1);
                }
            } else {
                $(quantityItem).val(++quantity);

                if (quantity > 10) {
                    $(quantityItem).val(10);
                }
            }

            if (submit) {
                $.ajax({
                    url: "/BuyItem/UpdateItem", 
                    type: "post", // chọn phương thức gửi là post
                    dataType: "json", // dữ liệu trả về dạng text
                    data: { // Danh sách các thuộc tính sẽ gửi đi
                        idItem: idItem,
                        quantity: $(quantityItem).val()
                    },
                    success: function (result) {
                        console.log(result);
                        if ($(quantityItem).val() < 1) {
                            var item = "#ShoppingCart-item-" + idItem;
                            $(item).remove();
                        }

                        var price = formatNumber(result.TotalPrice) + ",00 ₫";
                        $("#total_price").html(price);

                        var quantity = result.TotalQuantity;
                        $("#qty_order").html(quantity);

                        var thanhtien = "#thanhtien-item-" + idItem;
                        $(thanhtien).html(formatNumber(result.totalPriceOneProduct) + ",00 ₫");
                    }
                });
            }
        }

        function DeleteItem(idItem) {
            $.ajax({
                url: "/BuyItem/DeleteItem", 
                type: "post", // chọn phương thức gửi là post
                dataType: "json", // dữ liệu trả về dạng text
                data: { // Danh sách các thuộc tính sẽ gửi đi
                    idItem: idItem
                },
                success: function (result) {
                    console.log(result);

                    var item = "#ShoppingCart-item-" + idItem;
                    $(item).remove();

                    var price = formatNumber(result.TotalPrice) + ",00 ₫";
                    $("#total_price").html(price);

                    var quantity = result.TotalQuantity;
                    $("#qty_order").html(quantity);
                }
            });
        }

        function changeQuantityItem(idItem) {
            var quantityItem = "#idItem-" + idItem;
            console.log("gai tri hien tai: " + $(quantityItem).val());

            updateItem(idItem, $(quantityItem).val(), "change");
        }
    </script>
}
